.imagen {
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 855px;
    width: 70%;
    border-radius: 15px 0 0 15px;
    padding: 42px;
}


.caja {
    display: flex;
    width: 1070px;
    background-color: white;
    border-radius: 15px;
}

.contenido{
    width: 50%;
    padding: 54px;
}


body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.fuente-monserrat {
font-family: 'Montserrat', sans-serif;
}

.fuente-frances {

    font-family: 'Fraunces', serif;

}

.tachar{
    font-size: 20px;
    text-decoration: line-through;
    color:hsl(228, 12%, 48%);
}

p {
    font-size: 25px;
    color:hsl(228, 12%, 48%);
}

button{
    font-size: 30px;
    margin-left: 49px;
    height: 78px;
    width: 363px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
}

.verde-agua{
    font-size: 50px;
    color: hsl(158, 36%, 37%);
}

h4{
    letter-spacing: 6px;
    font-size: 33px;
    font-weight: 300;
    color: hsl(228, 12%, 48%);
}

.negro{
    font-size: 59px;
    color:hsl(0, 0%, 0%);
}

.botonera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}